<div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <div style="margin-top:10px; margin-bottom: 10px; height:60px;">
      <table style="width:100%" cellspacing="0" cellpadding="0">
        <tr>
          <td style="text-align: center;">
            <table style="width:100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width:33%"></td>
                <td>
                  <!-- <a href="{{'.' + baseHref + '/trips?tourId=' + tourId}}">
                    <div class="navicon" [ngClass]="{'actived':actived == 1}">1</div>
                  </a> -->
                  <div class="navicon" [ngClass]="{'actived':actived == 1}">1</div>
                </td>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
              </tr>
            </table>
          </td>
          <td style="text-align: center;width:16%">
            <table style="width:100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
                <td>
                  <!-- <a href="{{'.' + baseHref + '/rooms?tourId=' + tourId + '&tripId='+ tripId}}">
                    <div class="navicon" [ngClass]="{'actived':actived == 2}">2</div>
                  </a> -->
                  <div class="navicon" [ngClass]="{'actived':actived == 2}">2</div>
                </td>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
              </tr>
            </table>
          </td>
          <td style="text-align: center;width:16%">
            <table style="width:100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
                <td>
                  <!-- <a href="{{'.' + baseHref + '/options?tourId=' + tourId + '&tripId='+ tripId}}">
                    <div class="navicon" [ngClass]="{'actived':actived == 3}">3</div>
                  </a> -->
                  <div class="navicon" [ngClass]="{'actived':actived == 3}">3</div>
                </td>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
              </tr>
            </table>
          </td>
          <td style="text-align: center;width:16%">
            <table style="width:100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
                <td>
                  <!-- <a href="{{'.' + baseHref + '/travellers?tourId=' + tourId + '&tripId='+ tripId}}">
                    <div class="navicon" [ngClass]="{'actived':actived == 4}">4</div>
                  </a> -->
                  <div class="navicon" [ngClass]="{'actived':actived == 4}">4</div>
                </td>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
              </tr>
            </table>
          </td>
          <td style="text-align: center;width:20%">
            <table style="width:100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
                <td>
                  <!-- <a href="{{'.' + baseHref + '/review?tourId=' + tourId + '&tripId='+ tripId}}">
                    <div class="navicon" [ngClass]="{'actived':actived == 5}">5</div>
                  </a> -->
                  <div class="navicon" [ngClass]="{'actived':actived == 5}">5</div>
                </td>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
              </tr>
            </table>
          </td>
          <td style="text-align: center;">
            <table style="width:100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="width:33%">
                  <hr class="linecolor">
                </td>
                <td>
                  <div class="navicon" [ngClass]="{'actived':actived == 6}">6</div>
                </td>
                <td style="width:33%"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;" [ngClass]="{'tecolor':actived == 1}">
            <div [ngSwitch]="actived">
              <span *ngSwitchCase="1">DATE & PRICING</span>
              <span *ngSwitchDefault>DATE & PRICING</span>
            </div>
          </td>
          <td style="text-align: center;" [ngClass]="{'tecolor':actived == 2}">TRAVELLER & ROOM</td>
          <td style="text-align: center;" [ngClass]="{'tecolor':actived == 3}">OPTION</td>
          <td style="text-align: center;" [ngClass]="{'tecolor':actived == 4}">TRAVELLER DETAIL</td>
          <td style="text-align: center;" [ngClass]="{'tecolor':actived == 5}">REVIEW & CONFIRMATION</td>
          <td style="text-align: center;" [ngClass]="{'tecolor':actived == 6}">PAYMENT</td>
        </tr>
      </table>
      <div id="main_content" style="top:1px;min-height: 0px !important; height:0px; display: none"></div>
    </div>
  </div>
</div>