<div style="margin-bottom: 10px;  padding:10px;" *ngIf="traveller">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-2" style="padding-top: 5px;">
        <ng-content></ng-content>
    </div>
    <div class="col=md-1" *ngIf="totalTravellers > 3 && trip.rooms.length > 1">
        <select
        class="form-control"
        style="width:30%;"
        name="roomsMoveTo"
        [ngModel]="room.index"
        required
        (ngModelChange)="onRoomMovedToModelChange(traveller, $event)"
      >
        <ng-container *ngFor="let room of roomsMoveTo">
          <option [ngValue]="room.index">Room: #{{ room.index }}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-md-9">

      </div>
  </div>
  <div
    class="row"
    [ngClass]="{
      evenbckcolor: room.index % 2 === 0,
      oddbckcolor: room.index % 2 !== 0
    }"
    style="margin-top:5px;"
  >
    <div class="col-md-4">
      <label style="margin-bottom:0px;">First Name*</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="traveller.firstName"
        name="psgFirstName"
      />
    </div>
    <div class="col-md-4">
      <label style="margin-bottom:0px;">Last Name*</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="traveller.lastName"
        name="psgLastName"
      />
    </div>
    <div class="col-md-4">
      <label>&nbsp;</label>
      <div class="row">
        <div class="col-md-5">
          <label
            >Adult
            <input
              type="radio"
              style="cursor: pointer;"
              [value]="false"
              [checked]="traveller.isChild === false"
              name="{{ 'isChild' + traveller.id }}"
              (change)="onTravellerIsChildChange(traveller, false)"
            />
          </label>
        </div>
        <div class="col-md-7">
          <span
            class="badge"
            style="cursor: pointer;position: relative; top:-5px;"
            title="0-11 years old"
            >?</span
          >
          <label
            >Child
            <input
              type="radio"
              style="cursor: pointer;"
              [value]="true"
              [disabled]="disabled(room, traveller)"
              [checked]="traveller.isChild === true"
              name="{{ 'isChild' + traveller.id }}"
              (change)="onTravellerIsChildChange(traveller, true)"
            />
          </label>
          <label *ngIf="traveller.isChild === true"
            >(-${{ room.childPromoAmount }})</label
          >
        </div>
      </div>
    </div>
  </div>
</div>
