<div style="background-color:white;margin-top:10px; padding:10px;">
    <div class="row">
        <div class="col-md-12">
            <app-tour-nav-bar [actived]="5"></app-tour-nav-bar>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <strong style="font-size:28px;" class="tecolor">Review & Confirmation</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-message></app-message>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="trip === undefined">Loading...</div>
        </div>
    </div>
    <div *ngIf="trip" style="border: 1px solid #ccc; padding:30px; margin-top:10px;">
        <div class="row">
            <div class="col-md-12">
                <strong style="font-size:18px;">You're almost there!</strong>
                <br> Please take a moment to review the details below and continue to the payment page when ready.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="color: #ccc;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong style="font-size:18px;">{{tour.name}} - {{trip.name}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="color: #ccc;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <em class="fa fa-star colour">&nbsp;</em>
                Start: {{trip.startPlace}},&nbsp;{{trip.startCountryOrArea.name}}&nbsp;-&nbsp;{{trip.startDate}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <em class="fa fa-star colour">&nbsp;</em>
                End: {{trip.endPlace}},&nbsp;{{trip.endCountryOrArea.name}}&nbsp;-&nbsp;{{trip.endDate}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="color: #ccc;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <strong style="margin-right: 10px;">${{totalRoomPrice}}</strong>
            </div>
        </div>
        <div class="row" *ngIf="optionSummary.length > 0">
            <div class="col-md-12">
                <strong style="font-size:18px;">Options</strong>
            </div>
            <div class="col-md-12" *ngFor="let option of optionSummary">
                <div class="row">
                    <div class="col-md-8">
                        {{option.name}}
                    </div>
                    <div class="col-md-4">
                        <div style="margin-right: 10px;">${{option.price}} x {{option.quantity}} ({{option.subTotal}})</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" *ngIf="optionSummary.length > 0">
            <div class="col-md-12">
                <hr style="color: #ccc;">
            </div>
        </div>
        <div class="row" *ngIf="optionSummary.length > 0">
            <div class="col-md-12 text-right">
                <strong style="margin-right: 10px;">${{totalOptionPrice}}</strong>
            </div>
        </div>
        <div class="row" *ngIf="totalVisaQuantity > 0">
            <div class="col-md-12">
                <strong style="font-size:18px;">Visa</strong>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-8"> ${{perVisaPrice}} x {{totalVisaQuantity}} ({{perVisaPrice * totalVisaQuantity}})</div>
                            <div class="col-md-4 text-right">
                                <strong style="margin-right: 10px;">${{totalVisaPrice}}</strong>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <div style="background-color: black; color: white; padding:10px;">
                    <strong>Total Price: CAD ${{totalPrice}}</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="color: #ccc;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong style="font-size:18px;">How did ou hear about us?</strong>
            </div>
            <div class="col-md-3 col-sm-12 col-sm-12">
                <select class="form-control" [(ngModel)]="trip.tourInfoSource">
                    <ng-container *ngFor="let info of tourInfoSources">
                        <option [ngValue]="info" *ngIf="info === ''">--Select--</option>
                        <option [ngValue]="info" *ngIf="info !== ''">{{info}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="color: #ccc;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <input type="checkbox" style="cursor: pointer;" name="TermsConditions" (change)="trip.billingInfo.agreeTermAndCondition = !trip.billingInfo.agreeTermAndCondition"
                        [checked]="trip.billingInfo.agreeTermAndCondition">&nbsp;I agree to the
                    <a class="tecolor" target="_blank" href="/Portals/0/img/terms_conditions.pdf">Terms and Conditions</a>
                    and
                    <a class="tecolor" target="_blank" href="/terms">Privacy Statment</a>
                </div>
                <div></div>
                <div>
                    <input type="checkbox" style="cursor: pointer;" name="ReadsNotes" (change)="trip.billingInfo.haveReadTripNotes = !trip.billingInfo.haveReadTripNotes"
                        [checked]="trip.billingInfo.haveReadTripNotes">&nbsp;I have read the
                    <a class="tecolor" target="_blank" href="/terms">trip notes</a>
                </div>
                <div>
                    <input type="checkbox" style="cursor: pointer;" name="LikeReceiveMoreInfo" (change)="trip.billingInfo.canReceiveMoreInfo = !trip.billingInfo.canReceiveMoreInfo"
                        [checked]="trip.billingInfo.canReceiveMoreInfo">&nbsp;I would like to receive offers
                    and updates from Tour East Holidays via email</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-left">
                <button mat-raised-button color="primary" style="background-color:#d47027!important" (click)="goBack()">Go
                    Back</button>
            </div>
            <div class="col-md-6 text-right">
                <button mat-raised-button color="primary" style="background-color:#d47027!important" (click)="gotoPayment()">Continue
                    to Payment</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <div id="ReturnForm" class="hidden"></div>
            </div>
        </div>
    </div>
</div>