<div style="background-color:white;margin-top:10px; padding:10px;">
  <div class="row">
    <div class="col-md-12">
      <app-tour-nav-bar [actived]="5"></app-tour-nav-bar>
    </div>
  </div>
  <!-- <br />
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <strong style="font-size:28px;" class="tecolor"
            >Review & Confirmation</strong
          >
        </div>
      </div>
    </div>
  </div> -->
  <div
    *ngIf="trip; else loading"
    style="border: 1px solid #ccc; padding:30px; margin-top:10px;"
  >
    <div class="row">
      <div class="col-md-12">
        <strong style="font-size:28px;">You're Almost There!</strong> <br />
        Please take a moment to review the details below and continue to the
        payment page when ready.
      </div>
    </div>

    <app-review *ngIf="trip" [trip]="trip"></app-review>
    <br />
    <div class="row">
      <div class="col-md-12">
        <strong>Deposit & Payment</strong>
        <div>
          You only need to pay a deposit to secure your reservation online. A
          Tour Consultant will contact you after booking online to discuss
          reservation details and next steps and answer any questions you may
          have.
        </div>
        <br />
        <strong>How much is the deposit?</strong>
        <div>
          A non-refundable deposit of $500 is due at the time of booking online.
        </div>
        <br />
        <strong>Can I pay in full online?</strong>
        <div>
          No, only the indicated deposit amount can be paid when booking online.
          This non-refundable deposit secures your space on the chosen trip.
        </div>
        <br />
        <strong>When is the balance/final payment due?</strong>
        <div>
          The balance is due 60 days prior to your trip`s departure. If you are
          booking online within 60 days of departure, a non-refundable deposit
          is applicable and a tour consultant will contact you by email within
          the next business day to process the remaining balance. If you are
          booking outside of 60 days prior to the trip`s departure date, a tour
          consultant from Tour East Holidays will contact you to discuss next
          steps and to finalize a schedule for the balance payment.
        </div>
        <br />
        <strong>Cancellation Policy</strong>
        <div>
          <div>More than 60 days prior to departure - loss of deposit</div>
          <div>60-31 days prior to departure - 50% of total tour cost</div>
          <div> Within 30 days prior to departure - 100% of total tour cost (including no shows and after departure)</div>
        </div>
        <br />

        <strong>Email Confirmation</strong>
        <div>
          You will receive an email confirmation once your deposit has been
          charged. A Tour Consultant will contact you after booking to discuss
          reservation details and next steps and answer any questions you may
          have.
        </div>
      </div>
    </div>

    <hr style="border-top: 1px solid #aaa;" />
    <div class="row">
      <div class="col-md-12">
        <strong style="font-size:18px;">How did you hear about us?</strong>
      </div>
      <div class="col-md-3 col-sm-12 col-sm-12">
        <select
          class="form-control"
          [(ngModel)]="trip.selectedInfoSource"
          [compareWith]="compareFn"
        >
          <ng-container *ngFor="let info of trip.infoSource">
            <option [ngValue]="info">{{
              info.id === -1 ? "--Select--" : info.description
            }}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><hr style="color: #ccc;" /></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <input
            type="checkbox"
            style="cursor: pointer;"
            name="TermsConditions"
            (change)="
              trip.billingInfo.agreeTermAndCondition = !trip.billingInfo
                .agreeTermAndCondition
            "
            [checked]="trip.billingInfo.agreeTermAndCondition"
          />&nbsp;I agree to the
          <a
            class="tecolor"
            target="_blank"
            href="/Portals/0/img/terms_conditions.pdf"
            >Terms and Conditions</a
          >
          and
          <a class="tecolor" target="_blank" href="/terms">Privacy Statment</a>
        </div>
        <div></div>
        <div>
          <input
            type="checkbox"
            style="cursor: pointer;"
            name="ReadsNotes"
            (change)="
              trip.billingInfo.haveReadTripNotes = !trip.billingInfo
                .haveReadTripNotes
            "
            [checked]="trip.billingInfo.haveReadTripNotes"
          />&nbsp;I have read the
          <a
            class="tecolor"
            target="_blank"
            href="{{
              '/DesktopModules/EnTourModule/assets/TripNotes/tripnotes_' +
              tourId +
                '.pdf'
            }}"
            >trip notes</a
          >
        </div>
        <div>
          <input
            type="checkbox"
            style="cursor: pointer;"
            name="LikeReceiveMoreInfo"
            (change)="
              trip.billingInfo.canReceiveMoreInfo = !trip.billingInfo
                .canReceiveMoreInfo
            "
            [checked]="trip.billingInfo.canReceiveMoreInfo"
          />&nbsp;I would like to receive offers and updates from Tour East
          Holidays via email(option)
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 text-left">
        <button
          type="button"
          class="btn btn-warning  btn-lg"
          style="background-color:#d47027!important; color: white;"
          [style.background-color]="'#d47027!important'"
          [style.font-size.em]="isVerified ? 1 : 1"
          (click)="goBack()"
        >
          Go Back
        </button>
      </div>
      <div class="col-md-6 text-right">
        <button
          type="button"
          [class.isVerified]="isVerified"
          class="btn btn-warning btn-lg"
          [style.color]="isVerified ? 'white' : 'white'"
          [style.background-color]="
            isVerified ? '#d47027!important' : '#d47027'
          "
          [attr.aria-label]="payment"
          on-click="verify()"
          bind-disabled="
            paying ||
            !trip.billingInfo.agreeTermAndCondition ||
            !trip.billingInfo.haveReadTripNotes
          "
        >
          Pay Deposit
        </button>
        <!---->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><app-message></app-message></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <div id="ReturnForm" class="hidden"></div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-message></app-message>Loading...
  </ng-template>
</div>

<!--
      <form (ngSubmit)="onSubmit(heroForm)" ref-heroForm="ngForm" style="background-color:yellow">
          <div class="form-group">
              <label for="name">Name
                  <select class="form-control" [(ngModel)]="trip.tourInfoSource" name="infoSource"  [ngModelOptions]="{standalone: true}">
                      <ng-container *ngFor="let info of tourInfoSources">
                          <option [ngValue]="info" *ngIf="info === ''">--Select--</option>
                          <option [ngValue]="info" *ngIf="info !== ''">{{info}}</option>
                      </ng-container>
                  </select>
              </label>
          </div>
          <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>
      </form>
      <div [hidden]="!heroForm.form.valid">
          {{heroForm.form.valid}}
      </div>
    -->
