<div class="step-container">
  <div class="step-content">
    <ul class="step-list no-list-style">
      <li class="step-list-01">DATE & PRICING</li>
      <li class="step-list-02 step-active">TRAVELLER & ROOM</li>
      <li class="step-list-03">OPTION</li>
      <li class="step-list-04">TRAVELLER DETAIL</li>
      <li class="step-list-05">REVIEW & CONFIRMATION</li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-11">
          <h4>Total number of travellers:</h4>
      </div>
      <div class="col-md-1">
          
      </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <h4>Accomodation:</h4>
            <span>How many hotel rooms do you require?</span>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>
  </div>
  <div class="col-md-2">

  </div>
</div>
