<app-nav-bar [actived]="2"></app-nav-bar>
<div class="row">
  <div class="col-md-9">
    <div *ngIf="msg" class="msg">{{msg}}</div>
    <div style="border: 1px solid #CCC; padding:10px">
      <div class="row">
        <div class="col-md-10">
          <strong style="font-size:18px;">Total number of travellers:</strong>
        </div>
        <div class="col-md-2 text-right">
          <select class="form-control" [compareWith]="compareFn" [ngModel]="trip.selectedTravellerQuantity" (ngModelChange)="travellerChange($event)">
            <ng-container *ngFor="let q of trip.availabledTravellerQuantities">
              <option [ngValue]="q">{{q.id}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div>
            <strong style="font-size:18px;">Accomodation:</strong>
          </div>
          <div>How many hotel rooms do you require?</div>
        </div>
        <div class="col-md-2 text-right">
          <select style="margin-top:10px;" class="form-control" [compareWith]="compareFn" [ngModel]="trip.selectedRoomQuantity" (ngModelChange)="roomChange($event)">
            <ng-container *ngFor="let q of trip.availabledRoomQuantities">
              <option [ngValue]="q">{{q.id}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <br />
      <app-billing-info [billingInfo]="trip.billingInfo"></app-billing-info>
      <div *ngIf="trip.rooms">
        <app-select-room [room]="room" [trip]="trip" [roomIndex]="room.index" (removeRoom)="onRemoveRoom(room)" (roomCanbeMovedTo)="onRoomCanbeMovedTo($event)" *ngFor="let room of trip.rooms"></app-select-room>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 text-right">
          <button mat-raised-button color="primary" style="background-color:#d47027!important" (click)="goToOptions()">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div style="border: 1px solid #CCC; padding:10px">
      <app-trip-summary></app-trip-summary>
    </div>

  </div>
</div>