<div *ngIf="trip">
  <div *ngIf="trip.notIncludeIn.length">
    <p>
      <strong>
        <span style="font-size: 15px;">&nbsp;Notes:</span>
      </strong>
    </p>
    <ul class="fa-ul">
      <li *ngFor="let nIn of trip.notIncludeIn">
        <p  [innerHTML]="nIn.text"></p>
      </li>
    </ul>
  </div>
  <div *ngIf="trip.includedIn.length">
    <p>
      <strong>
        <span style="font-size: 15px;">&nbsp; Notes:</span>
      </strong>
    </p>
    <ul class="fa-ul">
      <li *ngFor="let in of trip.includedIn">
        <p [innerHTML]="in.text"></p>
      </li>
    </ul>
  </div>

</div>