<div style="background-color:white;margin-top:10px; padding:10px;">
    <div class="row">
        <div class="col-md-12">
            <app-tour-nav-bar [actived]="1"></app-tour-nav-bar>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <strong style="font-size:28px;" class="tecolor">Tour Dates & Availability</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-message></app-message>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="tour && tour.trips;else loading">
        <div class="col-md-12">
            <table class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: left; vertical-align: middle; background-color: #3f3f3f;">
                            <span style="font-size: 13px; color: #ffffff;">&nbsp;Start Date
                                <br>
                            </span>
                        </th>
                        <th style="text-align: left; vertical-align: middle; background-color: #3f3f3f;">
                            <span style="font-size: 13px; color: #ffffff;">&nbsp;End Date
                                <br>
                            </span>
                        </th>
                        <th style="text-align: left; vertical-align: middle; background-color: #3f3f3f;">
                            <span style="font-size: 13px; color: #ffffff;">&nbsp;Trip Cost (for {{trip.tripCostForDefaultTravellerQuantity}})
                                <br>
                            </span>
                        </th>
                        <th style="text-align: left; vertical-align: middle; background-color: #3f3f3f;">
                            <span style="font-size: 13px; color: #ffffff;">&nbsp;Single Supplement
                                <br>
                            </span>
                        </th>
                        <th style="text-align: left; vertical-align: middle; background-color: #3f3f3f;">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="cursor:pointer;" *ngFor="let t of tour.trips" [class.trselected]="t === trip" (mouseover)="onSelectTrip(t)" (click)="onSelectTrip(t)">
                        <td>
                            <span style="font-size: 13px;">{{t.startDate}}</span>
                        </td>
                        <td>
                            <span style="font-size: 13px;">{{t.endDate}}
                            </span>
                        </td>
                        <td>
                            <span style="font-size: 13px;">{{t.tripCostForDefaultPerTraveller * t.tripCostForDefaultTravellerQuantity}}
                            </span>
                        </td>
                        <td>
                            <span style="font-size: 13px;">{{t.tripSingleSupplement}}
                            </span>
                        </td>
                        <td style="text-align:center;vertical-align: middle;">
                            <!-- <a class="btn btn-primary" id="myNav" href="{{'.' + baseHref + '/rooms?tourId=' + tour.id + '\&tripId=' + t.id}}">
                             
                                Select it
                            </a> -->
                            <a class="btn btn-warning" (click)="gotoTraveller(tour.id, t.id)">Click</a>
                            <button mat-raised-button color="primary"  #myNav style="background-color:#d47027!important"  (click)="gotoTraveller(tour.id, t.id)">Select</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-trip-details [trip]="trip"></app-trip-details>
        </div>
    </div>
    <ng-template #loading>Searching Trips...<br /><app-message></app-message></ng-template>
</div>
<div id="main_content" style="top:1px;min-height: 0px !important; height:0px; display: none"></div>