<app-nav-bar [actived]="3"></app-nav-bar>
<div class="row" style="background-color:white;">
    <div class="col-md-9">
        <div style="border: 1px solid #CCC; padding:10px">
            <strong class="tecolor">Tour Options</strong>
            <app-message></app-message>

            <div *ngIf="trip">
                <div *ngFor="let room of trip.rooms; let i = index">
                    <app-option-for-traveller [traveller]="t" [index]="t.id" [options]="trip.options" *ngFor="let t of room.travellers;"></app-option-for-traveller>
                </div>
            </div>
            <div class="text-right">
                <button mat-raised-button color="primary" style="background-color:#d47027!important" (click)="gotoTravellerDetail()">Continue</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div style="border: 1px solid #CCC; padding:10px; position:sticky;top:80px;">
            <app-trip-summary></app-trip-summary>
        </div>
    </div>
</div>