<div style="padding:5px;">
  <br />
  <div class="row">
    <div class="col-md-12">
      <strong style="font-size:18px;">Billing Information</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table
        style="width:100%;margin-top: 5px;"
        class="table table-striped table-hover table-condensed"
      >
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Mailing Address</th>
          <th>City</th>
          <th>Prov.</th>
          <th>Country</th>
          <th>Postal Code</th>
        </tr>
        <tr>
          <td>
            {{ trip.billingInfo.firstName }}&nbsp;{{
              trip.billingInfo.lastName
            }}
          </td>
          <td>{{ trip.billingInfo.email }}</td>
          <td>
            {{ trip.billingInfo.primaryPhone
            }}<span *ngIf="trip.billingInfo.secondaryPhone"
              >/{{ trip.billingInfo.secondaryPhone }}</span
            >
          </td>
          <td>{{ trip.billingInfo.mailingAddress }}</td>
          <td>{{ trip.billingInfo.city }}</td>
          <td>{{ trip.billingInfo.provinceStates }}</td>
          <td>{{ trip.billingInfo.country.name }}</td>
          <td>{{ trip.billingInfo.postalCode }}</td>
        </tr>
      </table>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12"><strong style="font-size:18px;">Rooms</strong></div>
    <div class="col-md-12" *ngFor="let room of trip.rooms">
      <div class="row">
        <div class="col-md-8">
          <div>
            <span> Room #{{ room.index }} </span>
            <span
              *ngIf="
                room.roomPriceForPerTraveller -
                  room.roomOriginalPriceForPerTraveller >
                0
              "
              >(Single Supplement: $
              {{
                room.roomPriceForPerTraveller -
                  room.roomOriginalPriceForPerTraveller
              }})</span
            >
            <span *ngIf="room.smokingRoom == 0">Non-smoking</span>
            <span *ngIf="room.smokingRoom == 1">Smoking</span>
            <span *ngIf="room.selectedRoomCfg.id !== -1"
              >&nbsp;/&nbsp;{{ room.selectedRoomCfg.description }}</span
            >
          </div>
        </div>
        <div class="col-md-4">
          <div style="margin-right: 10px;">
            <!--
            ${{ room.roomPriceForPerTraveller }} x
            {{ room.travellers.length }} ({{
              room.roomPriceForPerTraveller * room.travellers.length
            }})
          --></div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <table
                style="width:100%;margin-top: 5px;"
                class="table table-striped table-hover table-condensed"
              >
                <tr>
                  <th>Title</th>
                  <th>Name</th>
                  <th>DOB</th>
                  <th>Is Child</th>
                  <th>Country</th>
                  <th>Passport Number</th>
                  <th>Passport Issue Date</th>
                  <th>Passport Expiry Date</th>
                  <th>Passport Issue Place</th>
                  <th>National</th>
                  <th>Insurance</th>
                </tr>
                <ng-container *ngFor="let traveller of room.travellers">
                  <tr>
                    <td>{{ traveller.title }}</td>
                    <td>
                      {{ traveller.firstName }}&nbsp;{{
                        traveller.middleName
                      }}&nbsp;{{ traveller.lastName }}
                    </td>
                    <td>{{ traveller.birthday | date: "yyyy-MM-dd" }}</td>
                    <td>
                      <span *ngIf="traveller.isChild">Yes</span
                      ><span *ngIf="!traveller.isChild">No</span>
                    </td>
                    <td>{{ traveller.placeofbirth }}</td>
                    <td>
                      <span *ngIf="traveller.passport">
                        {{ traveller.passport.number }}
                      </span>
                    </td>
                    <td>
                      <span *ngIf="traveller.passport">
                        {{ traveller.passport.issueDate | date: "yyyy-MM-dd" }}
                      </span>
                    </td>
                    <td>
                      <span *ngIf="traveller.passport">
                        {{ traveller.passport.expiryDate | date: "yyyy-MM-dd" }}
                      </span>
                    </td>
                    <td>
                      <span
                        *ngIf="
                          traveller.passport && traveller.passport.issuePlace
                        "
                      >
                        {{ traveller.passport.issuePlace.name }}
                      </span>
                    </td>
                    <td>
                      <span *ngIf="traveller.countryOrArea">{{
                        traveller.countryOrArea.name
                      }}</span>
                    </td>
                    <td>
                      <span *ngIf="traveller.needInsuance">Yes</span
                      ><span *ngIf="!traveller.needInsuance">No</span>
                    </td>
                  </tr>
                  <tr *ngIf="traveller.specialRequest">
                    <td colspan="11">{{ traveller.specialRequest }}</td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr style="border-top: 1px solid #000;margin-top: 0px;" />
    </div>
  </div>
  <!--
  <div class="row" *ngIf="reviewInfo.totalChildPromo > 0">
    <div class="col-md-12">
      <strong style="font-size:18px;">Child Promo</strong>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div style="margin-right: 10px;">
            $({{ reviewInfo.promoAmountPerChild }}) x
            {{ reviewInfo.childrenQuantity }}({{ reviewInfo.totalChildPromo }})
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <!--
  <div class="row">
    <div class="col-md-12"><hr style="color: #000;" /></div>
  </div>
-->
  <div class="row">
    <div class="col-md-12">
      <strong style="font-size:18px;" *ngIf="trip.tourName">{{ trip.tourName }}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr
        style="margin-top:5px;margin-bottom: 5px;border-top: 1px solid #aaa;"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngFor="let room of trip.rooms; let i = index">
      <div class="row">
        <div class="col-md-12">
          <span> Room #{{ room.index }} </span>
          <span *ngIf="room.selectedRoomCfg.description">&nbsp;-</span>
          <span>{{ room.selectedRoomCfg.description }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngFor="let traveller of room.travellers">
          <div class="row">
            <div class="col-md-6">
              &nbsp;&nbsp;{{ traveller.title }}.&nbsp;
              {{ traveller.firstName }}&nbsp;{{ traveller.middleName }}&nbsp;{{
                traveller.lastName
              }}
            </div>
            <div class="col-md-6 text-right">
              $&nbsp;{{
                room.roomPriceForPerTraveller -
                  (traveller.isChild ? room.childPromoAmount : 0)
                  | number: "1.2-2"
              }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-top:5px;padding-bottom: 5px;">
          <hr
            *ngIf="i !== trip.rooms.length - 1"
            style="margin:0px; padding-top:0px;padding-bottom: 0px;"
          />
          <hr
            *ngIf="i === trip.rooms.length - 1"
            style="margin:0px; padding-top:0px;padding-bottom: 0px;border-top: 1px solid #aaa;"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 text-right"><strong>Subtotal:</strong></div>
    <div class="col-md-1 text-right" style="padding-left:0px;">
      <strong
        >${{
          reviewInfo.totalRoomPrice - reviewInfo.totalChildPromo
            | number: "1.2-2"
        }}</strong
      >
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      Start: {{ trip.startDate | date: "MMMM d, yyyy" }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">End: {{ trip.endDate | date: "MMMM d, yyyy" }}</div>
  </div> -->
  <div *ngIf="reviewInfo.optionSummary.length > 0"><br /></div>
  <div class="row" *ngIf="reviewInfo.optionSummary.length > 0">
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-12">
          <strong style="font-size:18px;">Options</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="reviewInfo.optionSummary.length > 0">
    <div class="col-md-12">
      <hr
        style="margin-top:5px;margin-bottom: 5px;border-top: 1px solid #aaa;"
      />
    </div>
  </div>

  <div class="row" *ngIf="reviewInfo.optionSummary.length > 0">
    <div
      class="col-md-12"
      *ngFor="let option of reviewInfo.optionSummary; let i = index"
    >
      <div class="row">
        <div class="col-md-10">
          {{ option.name }}&nbsp;(${{ option.price | number: "1.2-2" }} x
          {{ option.quantity }})
        </div>
        <div class="col-md-2 text-right" style="padding-left:0px;">
          ${{ option.price * option.quantity | number: "1.2-2" }}
          <!-- ({{ option.subTotal }}) -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-top:5px;padding-bottom: 5px;">
          <hr
            *ngIf="i !== reviewInfo.optionSummary.length - 1"
            style="margin:0px; padding-top:0px;padding-bottom: 0px;"
          />
          <hr
            *ngIf="i === reviewInfo.optionSummary.length - 1"
            style="margin:0px; padding-top:0px;padding-bottom: 0px;border-top: 1px solid #aaa;"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="reviewInfo.optionSummary.length > 0">
    <div class="col-md-11 text-right"><strong>Subtotal:</strong></div>
    <div class="col-md-1 text-right">
      <strong
        >${{
          reviewInfo.totalOptionPrice +
            reviewInfo.totalVisaPrice +
            reviewInfo.extraHotelAmount | number: "1.2-2"
        }}</strong
      >
    </div>
  </div>
</div>
<br />
<div style="background-color: #ddd; font-weight: bold; padding:5px;">
  <br />
  <!-- <div class="row">
    <div class="col-md-11 text-right">Subtotal:</div>
    <div class="col-md-1">${{ trip.totalPriceForPayment | number: "1.2-2" }}</div>
  </div>
  <div class="row">
    <div class="col-md-11 text-right">Credit Card Surcharge:</div>
    <div class="col-md-1">
      ${{
        (trip.paymentTypeSurcharges * trip.totalPriceForPayment) | number: "1.2-2"
      }}
    </div>
  </div> -->
  <div class="row" style="font-size: 18px;">
    <div class="col-md-10 text-right">Total Price:</div>
    <div class="col-md-2  text-right">
      ${{
        (1 + trip.paymentTypeSurcharges) * trip.totalPriceForPayment
          | number: "1.2-2"
      }}
    </div>
  </div>
  <div class="row" style="font-size: 18px;" *ngIf="trip.paidAmounts == null; else paid">
    <div class="col-md-10  text-right">
      Minimum Deposit:
    </div>
    <div class="col-md-2 text-right">
      ${{
        trip.minimumDeposit * trip.selectedTravellerQuantity.id
          | number: "1.2-2"
      }}
    </div>
  </div>

  <ng-template #paid>
    <div
      class="row"  style="font-size: 18px;"
      *ngFor="let paymentAmount of trip.paidAmounts; let i = index"
    >
      <div class="col-md-11 text-right" *ngIf="i === 0">Deposit:</div>
      <div class="col-md-11 text-right" *ngIf="i > 0">Payment:</div>
      <div class="col-md-1 text-right" style="padding-left:0px;">
        ${{ paymentAmount | number: "1.2-2" }}
      </div>
    </div>
    <div class="row"  style="font-size: 18px;">
      <div class="col-md-11 text-right">Balance Owing:</div>
      <div class="col-md-1 text-right" style="padding-left:0px;">
        ${{ own | number: "1.2-2" }}
      </div>
    </div>
  </ng-template>
  <br />
</div>
