<div class="step-container">
  <div class="step-content">
      <ul class="step-list no-list-style">
          <li class="step-list-01" ng-class="{'step-active': coreService.nav === 'DATE & PRICING'}">DATE & PRICING</li>
          <li class="step-list-02" ng-class="{'step-active': coreService.nav === 'TRAVELLER & ROOM'}">TRAVELLER & ROOM</li>
          <li class="step-list-03" ng-class="{'step-active': coreService.nav === 'OPTION'}">OPTION</li>
          <li class="step-list-04" ng-class="{'step-active': coreService.nav === 'TRAVELLER DETAIL'}">TRAVELLER DETAIL</li>
          <li class="step-list-05" ng-class="{'step-active': coreService.nav === 'REVIEW & CONFIRMATION'}">REVIEW & CONFIRMATION</li>
      </ul>
      <div class="clearfix"></div>
  </div>
</div>