<div [ngClass]="{evenbckcolor: roomIndex % 2 === 0, oddbckcolor: roomIndex % 2 !== 0}" style="border: 1px solid #CCC;  padding:0px 0px 10px 0px; margin-top:10px;"
  *ngIf="room">
  <div style="text-align: left; color:white; background-color: rgb(238, 154, 57); padding:5px;">
    <table style="width: 100%">
      <tr>
       
        <td>
          <strong style="font-size:18px; padding: 5px 5px 5px  10px ;" title="{{'Room:'+ displayRoomInfo()}}">Room: #{{roomIndex}}</strong>
        </td>
        <td style="text-align: right;" *ngIf="room.travellers.length === 0"><button  (click)="remove(room)" style=" color: black;">Remove</button></td>
        <!-- <td>
          <label>Extra Hotel: {{room.extraHotelQuantity}}</label>
          <button type="button" (click)="addExtraHotelQuantity(room)">
            +</button>
          <button type="button" [disabled]="room.extraHotelQuantity === 0" (click)="minusExtraHotelQuantity(room)">
            -</button>
        </td> -->
      </tr>
    </table>

  </div>
  <div class="row">
    <div class="col-md-12">
      <app-tour-rooms-each-room-each-traveller [traveller]="traveller" [roomsMoveTo]="roomsMoveTo"
        (roomChangedToRequest)="onRoomChangedTo($event)" (roomMovedToRequest)="onRoomMovedTo($event)"
        [bedRoomsForSelectedTravellers]="bedRoomsForSelectedTravellers" [roomIndex]="roomIndex" [room]="room" [trip]="trip"
        *ngFor="let traveller of room.travellers">
        <app-tour-rooms-each-room-each-traveller-child [traveller]="traveller">Loading...</app-tour-rooms-each-room-each-traveller-child>
      </app-tour-rooms-each-room-each-traveller>
    </div>
  </div>
  <hr style="margin-bottom: 0px;margin-top: 0px;" />
   <!-- *ngIf="showRoomInfo" -->
   <div class="row" style="padding:10px;">
      <div class="col-md-6">
        <label style="margin-bottom:0px;">Bedding Configuration*</label>
        <div>
          <!-- <select class="form-control" [ngModel]="newBedRoom" name="bedRoomsForSelectedTraveller" (ngModelChange)="onBedConfigModelChange(room.index, $event)">
            <ng-container *ngFor="let room of bedRoomsForSelectedTravellers">
              <option [ngValue]="room">{{room.beddingConfig}}</option>
            </ng-container>
          </select> -->


          <!-- [(ngModel)]="room.selectedRoomCfg" -->
          <select *ngIf="room.roomCfgList.length > 0" class="form-control" name="roomCfg" [compareWith]="compareFn"  [ngModel]="room.selectedRoomCfg" (ngModelChange)="onBedChange(room.index, $event)"
          
          >
          <ng-container *ngFor="let roomCfg of room.roomCfgList">
            <!-- <option [ngValue]="roomCfg" *ngIf="(room.travellers.length === 1 && roomCfg.id !== 13) || (room.travellers.length === 2 && roomCfg.id !== 10 && roomCfg.id !== 13)  || (room.travellers.length > 2 && roomCfg.id !== 10)">{{roomCfg.id === -1 ? "--Select--" : roomCfg.description}}</option> -->
            <option [ngValue]="roomCfg" *ngIf="(roomCfg.id === -1) || (room.travellers.length === 1 && roomCfg.id === 10) || (room.travellers.length === 2 && roomCfg.id !== 10 && roomCfg.id !== 13)  || (room.travellers.length === 3 && roomCfg.id === 13) || (room.travellers.length === 4 && roomCfg.id > 11)">{{roomCfg.id === -1 ? "--Select--" : roomCfg.description}}</option>
          </ng-container>
        </select>
        </div>
      </div>
      <div class="col-md-3">
        <label>&nbsp;</label>
        <div>
          <label>Non-smoking Room
            <input type="radio" style="cursor: pointer;" [value]="0" [checked]="room.smokingRoom === 0" name="{{'smokingRoom' + room.index }}"
              (change)="onSmokingSelectionChange(room, 0)">
          </label>
        </div>
      </div>
      <div class="col-md-3">
        <label>&nbsp;</label>
        <div>
          <label>Smoking Room
            <input type="radio" style="cursor: pointer;" [value]="1" [checked]="room.smokingRoom === 1" name="{{'smokingRoom' + room.index }}"
              (change)="onSmokingSelectionChange(room, 1)">
          </label>
        </div>
      </div>
    </div>
</div>