<div style="margin-top:10px; margin-bottom: 10px;">
  <table style="width:100%" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <table style="width:100%" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:33%"></td>
            <td>
              <a href="{{'/entourdetail/detail/' + tourId}}">
                <div class="navicon" [ngClass]="{'actived':actived == 1}">1</div>
              </a>
            </td>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align: center;width:16%">
        <table style="width:100%" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
            <td>
              <a href="{{'/entourdetail/travellers?tourId=' + tourId + '&tripId='+ tripId}}">
                <div class="navicon" [ngClass]="{'actived':actived == 2}">2</div>
              </a>
            </td>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align: center;width:16%">
        <table style="width:100%" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
            <td>
              <a href="{{'/entourdetail/options?tourId=' + tourId + '&tripId='+ tripId}}">
                <div class="navicon" [ngClass]="{'actived':actived == 3}">3</div>
              </a>
            </td>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align: center;width:16%">
        <table style="width:100%" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
            <td>
              <a href="{{'/entourdetail/travellerdetails?tourId=' + tourId + '&tripId='+ tripId}}">
                <div class="navicon" [ngClass]="{'actived':actived == 4}">4</div>
              </a>
            </td>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align: center;width:20%">
        <table style="width:100%" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
            <td>
              <a href="{{'/entourdetail/reviewpayment?tourId=' + tourId + '&tripId='+ tripId}}">
                <div class="navicon" [ngClass]="{'actived':actived == 5}">5</div>
              </a>
            </td>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
          </tr>
        </table>
      </td>
      <td style="text-align: center;">
        <table style="width:100%" cellspacing="0" cellpadding="0">
          <tr>
            <td style="width:33%">
              <hr class="linecolor">
            </td>
            <td>
              <div class="navicon" [ngClass]="{'actived':actived == 6}">6</div>
            </td>
            <td style="width:33%"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">DATE & PRICING</td>
      <td style="text-align: center;">TRAVELLER & ROOM</td>
      <td style="text-align: center;">OPTION</td>
      <td style="text-align: center;">TRAVELLER DETAIL</td>
      <td style="text-align: center;">REVIEW & CONFIRMATION</td>
      <td style="text-align: center;">PAYMENT</td>
    </tr>
  </table>

</div>