<div style="margin-bottom: 10px; background-color: #fff; padding:10px;">
<div>
  <h4>Passenger {{traveller.id}} - Room {{traveller.roomId}}</h4>
</div>
<div class="row">
  <div class="col-md-6">
    <label>First Name*</label>
    <input type="text" class="form-control" required [(ngModel)]="traveller.firstName">
  </div>
  <div class="col-md-6">
    <label>Last Name*</label>
    <input type="text" class="form-control" required [(ngModel)]="traveller.lastName">
  </div>
</div>
<div class="row" *ngIf="showRoomInfo">
  <div class="col-md-6">
    <label>Bedding Configuration*</label>
    <div>
      <select class="form-control" [(ngModel)]="traveller.roomId">
        <ng-container *ngFor="let room of tripRooms">
          <option [ngValue]="room.id">{{room.beddingConfig}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <label>&nbsp;</label>
    <div>
      <label>Non-smoking Room
        <input *ngIf="room.isSmokingRoom == 1" type="radio" name="{{'isSmokingRoom' + room.id }}">
        <input *ngIf="room.isSmokingRoom == 0" checked type="radio" name="{{'isSmokingRoom' + room.id }}">
      </label>
    </div>
  </div>
  <div class="col-md-3">
    <label>&nbsp;</label>
    <div>
      <label>Smoking Room
        <input *ngIf="room.isSmokingRoom == 1" checked type="radio" name="{{'isSmokingRoom' + room.id }}">
        <input *ngIf="room.isSmokingRoom == 0" type="radio" name="{{'isSmokingRoom' + room.id }}">
      </label>
    </div>
  </div>
</div>
</div>