<div class="row">
  <div class="col-md-12">
    <div style="background-color: #eee;padding:1em;">
      <div class="row">
        <div class="col-md-12">
          <strong style="font-size:18px;">Primary and billing contact</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="firstname">First Name*</label>
          <input type="text" class="form-control" id="firstName" required [(ngModel)]="billingInfo.firstName" name="firstName" #firstName="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        <div class="col-md-6">
          <label for="lastname">Last Name*</label>
          <input type="text" class="form-control" id="lastName" required [(ngModel)]="billingInfo.lastName" name="lastName" #lastName="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="email">E-Mail*</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="billingInfo.email" name="email" #email="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div> -->
        </div>
        <div class="col-md-4">
          <label for="primaryPhone">Primary Phone*</label>
          <input type="text" class="form-control" id="primaryPhone" required [(ngModel)]="billingInfo.primaryPhone" name="primaryPhone" #primaryPhone="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div> -->
        </div>
        <div class="col-md-4">
          <label for="secondaryPhone">Secondary Phone</label>
          <input type="text" class="form-control" id="secondaryPhone" required [(ngModel)]="billingInfo.secondaryPhone" name="secondaryPhone" #secondaryPhone="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <label for="mailingAddress">Mailing Address*</label>
          <input type="text" class="form-control" id="mailingAddress" required [(ngModel)]="billingInfo.mailingAddress" name="mailingAddress" #name="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div> -->
        </div>
        <div class="col-md-4">
          <label for="city">City*</label>
          <input type="text" class="form-control" id="city" required [(ngModel)]="billingInfo.city" name="city" #city="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label for="country">Country*</label>
          <input type="text" class="form-control" id="country" required [(ngModel)]="billingInfo.country" name="country" #country="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div> -->
        </div>
        <div class="col-md-5">
          <label for="provinceStates">Province or State*</label>
          <input type="text" class="form-control" id="provinceStates" required [(ngModel)]="billingInfo.provinceStates" name="provinceStates" #provinceStates="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div> -->
        </div>
        <div class="col-md-2">
          <label for="postalCode">Postal Code*</label>
          <input type="text" class="form-control" id="postalCode" required [(ngModel)]="billingInfo.postalCode" name="postalCode" #postalCode="ngModel">
          <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  Name is required
                </div> -->
        </div>
      </div>
    </div>
    <!-- <p>
          I turned the corner
          <ng-container *ngIf="hero">
            and saw {{hero.name}}. I waved
          </ng-container>
          and continued on my way.
        </p> -->
    <!-- <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name
          <input class="form-control" name="name" required [(ngModel)]="hero.name">
        </label>
      </div>
      <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>
    </form>
    <div [hidden]="!heroForm.form.valid">
      {{submitMessage}}
    </div> -->
  </div>
</div>